<form *ngIf="selectedOperation == 'withdraw'" [formGroup]="withdrawForm"
(ngSubmit)="confirmWithdraw()">
<fieldset>
  <legend>Withdraw</legend>
  <fieldset class="form-group">
    <label>Deposited Balance</label>
    <h3>1.00000 <small>{{selectedVault}}</small></h3>
  </fieldset>
  <fieldset class="form-group">
    <label>Select a Value</label>
    <div class="input-group">
      <input type="number" class="form-control bg-white" id="valueApprove" name="valueApprove"
        formControlName="valueApprove">
      <div class="input-group-prepend">
        <span class="input-group-text text-dark bg-light">{{selectedVault}}</span>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-group">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
        I agree with supporting text below as a natural lead-in to additional content.
      </label>
    </div>
  </fieldset>
</fieldset>
<a href="#" class="btn btn-block btn-danger"><strong> Confirm Your Withdraw</strong></a>
<a href="#" class="btn btn-block btn-secondary" (click)="selectOperation('menu')"><strong> Back to Optoins</strong></a>
</form>
