<div class="row">
    <div class="col-lg-8" style="margin-top: 100px;">
      <div class="page-header">
        <h4>VAULTS</h4>
      </div>
      <div class="bs-component">
        <table class="table table-hover border border-secondary border-5" style="margin-top: 40px;">
          <thead>
            <tr>
              <th scope="col">Coin</th>
              <th scope="col">Vault</th>
              <th scope="col" class="text-center">Full Cap.</th>
              <th scope="col" class="text-center">APY</th>
              <th scope="col" class="text-center">Your Cap.</th>
              <th scope="col" class="text-center">Your Share</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of vaults" (click)="selectVault(item)">
                <th scope="row">{{item.symbol}}</th>
                <td>{{item.source}}</td>
                <td class="text-center">{{item.balance}}</td>
                <td class="text-center">{{item.apy}} %</td>
                <td class="text-center">0.00000</td>
                <td class="text-center">0.00 %</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-4" style="margin-top: 100px;" *ngIf="smallBox == 'offline'">
      <div class="page-header">
        <h4>INFO</h4>
      </div>
      <div class="bs-component">
        <div class="card text-center bg-light border border-secondary mb-3"
          style="max-width: 100rem; margin-top: 40px;">
          <div class="card-body">
            <h5 class="card-title">CONNECT YOUR WALLET</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button type="button" class="btn btn-warning" (click)="connectMetamask()">Connect Wallet</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4" style="margin-top: 100px;" *ngIf="smallBox == 'waiting'">
      <div class="page-header">
        <h4>INFO</h4>
      </div>
      <div class="bs-component">
        <div class="card text-center bg-light border border-secondary mb-3"
          style="max-width: 100rem; margin-top: 40px;">
          <div class="card-body">
            <h5 class="card-title">Autorize in your wallet</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <button disabled type="button" class="btn btn-warning">Waiting</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4" style="margin-top: 100px;" *ngIf="smallBox == 'connected'">
      <div class="page-header">
        <h4>INFO</h4>
      </div>

      <div class="bs-component" *ngIf="assets == 0">
        <div class="card text-center bg-light border border-secondary mb-3"
          style="max-width: 100rem; margin-top: 40px;">
          <div class="card-body">
            <h5 class="card-title">MAKE YOUR FIRST DEPOSIT</h5>
            <button type="button" class="btn btn-success" (click)="tryBox('eth')">Try with ETH</button>
          </div>
        </div>
      </div>

      <div class="bs-component" *ngIf="assets == 0">
        <div class="card text-center bg-light border border-secondary mb-3"
          style="max-width: 100rem; margin-top: 10px;">
          <div class="card-body">
            <h5 class="card-title">CALCULATE YOUR FUTURE GAINS</h5>
            <button type="button" class="btn btn-info" (click)="tryBox('dai')">Try with DAI</button>
          </div>
        </div>
      </div>

      <div class="bs-component" *ngIf="assets >= 1">
        <div class="list-group" style="margin-top: 40px;">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">5.65651</h5>
              <small class="text-muted">APY 12.99 %</small>
            </div>
            <p class="mb-1">Ethereum</p>
            <small class="text-muted">Go to vault</small>
          </a>
        </div>
      </div>
    </div>
  </div>
